body { color: white; overflow-x: hidden; }

:root {
	--serif-font: Georgia, Times, Times New Roman, serif;	
}

/* Hero image and title */

.top-background {
	width: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('meeting.jpg');
}

.title__image {
	max-height: 16vh;
	max-width: calc(100% - 2rem);
	filter: drop-shadow( .15rem .15rem .25rem #000 );
}
@media (min-width: 576px) { .title__image { max-height: 12vh; } }
@media (min-width: 576px) { .header-wrapper { text-align: center; } }
@media (min-width: 768px) { .header-wrapper { text-align: inherit; } }

.header-wrapper { padding: 4vh 0 6vh; } /* uses header-item to equalize, enables margin between multiple header-items */
@media (min-width: 576px) { .header-wrapper { padding: 8vh 0 10vh; } }

.header-item { padding-top: 2vh; }

.email-wrapper { filter: drop-shadow( .15rem .15rem .25rem #000 ); }
@media (min-width: 576px) { .email-wrapper { text-align: center; } }
@media (min-width: 768px) { .email-wrapper { text-align: right; } }
.email-submit { max-height: 96%; }
.form-submit-arrow { height: 1rem; opacity: .7; }



/* Nav and colors */

.navbar__logo {
	border-radius: .25rem;
	height: 3rem;
}

.nav-wrapper {
	background-color: #FF6000;
	position: relative;
	margin: -1rem -.05rem;
	padding: .5rem .05rem;
	z-index: 10;
}

nav.container { padding: 0; }

.nav-link {
	display: inline-block;
	text-transform: uppercase;
	color: white !important;
	border-radius: .25rem;
	text-shadow: 1px 1px 4px black;
	transition: all 0.25s ease-in-out;
}
.dropdown-item { transition: all 0.15s ease-in-out; }
.nav-link:hover, .dropdown-item:hover { text-decoration: underline; }
.nav-link:active, .dropdown-item:active { transform: translateY(.15em); }

.nav-link--emphasize {  }
.nav-icon-link:hover { transform: scale(1.25); }

/*
p a:not(.btn),
p a:hover:not(.btn),
p a:active:not(.btn),
p a:visited:not(.btn) {
	color:	var(--primary-color);
	text-decoration: underline dotted;
}
p a:hover:not(.btn) { text-decoration: underline; }
p a:active:not(.btn) { filter: brightness(150%); }
*/

@media (max-width: 1023px) { 
	.nav-link { background-color: rgba(255,255,255,0.1); margin: 2px 0; }
	nav.container { padding: 0 .5em; }
}


/* Rotations */

.nav-wrapper { transform: rotate(-1deg); }
section:nth-child(even)::after { transform: rotate(-1deg); }
section:nth-child(odd)::after { transform: rotate(1deg); }
@media (min-width: 1200px) { 
	.nav-wrapper { transform: rotate(-0.5deg); }
	section:nth-child(even)::after { transform: rotate(-0.5deg); }
	section:nth-child(odd)::after { transform: rotate(0.5deg); }
}


section { color: #143642 !important; padding: 4rem 0 2rem 0; position: relative;}

section::after { content: ""; display: block; position: absolute; width: 100%; height: 2rem; background-color: inherit; bottom: -1rem; z-index: 1; }

section h2 { margin-bottom: 1rem; }

section:nth-child(even) { background-color: #f5f2f4; }

section:nth-child(odd) { background-color: #F9F7F9; }


/* Footer */

footer { background-color: #143642; padding: 4rem 0 2rem; color: #ccc !important; }



/* Article Wall */

.articleWall { position: relative; }

.articleWall__scroller { display: flex; flex-direction: column; justify-content: space-between; }

.articleWall__anchor { transition: transform .25s ease-in-out; margin-bottom: 1rem; }

.articleWall__illustration {
	width: 100%;
	height: 20vh;
	background-size: cover;
	background-image: linear-gradient(to top left, rgba(0,0,0,.05), rgba(0,0,0,0));
	background-position: center center;
	border-radius: .25rem;
	box-shadow: 0 0 .5rem rgba(0,0,0,.1);
}

.articleWall__title {
	font-size: 1.4em;
	font-family: var(--serif-font);
	line-height: 1.2;
	margin-top: .5rem;
	text-decoration-skip: ink;
	text-decoration-skip-ink: auto;
}

.articleWall__anchor:link,
.articleWall__anchor:visited,
.articleWall__anchor:hover {
	color: inherit;
}

@media (min-width: 576px) {
	.articleWall__scroller { flex-direction: row; }
	.articleWall__anchor { width: 31%; }
}