body { color: white; overflow: none; }

/* Hero image and title */

.top-background {
	width: 100%;
	height: 30vh;
	background-size: auto 50vh;
	background-position: center -5vh;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: url('https://pbs.twimg.com/media/C6ED6TUWMAAQhoA.jpg:large');
}

.title__image {
	margin: 7vh 0;
	max-height: 16vh;
	max-width: calc(100% - 2rem);
	filter: drop-shadow( .15rem .15rem .25rem #000 );
}

@media (min-width: 576px) {

	.top-background {
		height: 50vh;
		background-size: auto 70vh;
		background-position: center -10vh;
	}

	.title__image { margin: 17vh 0; }
}


/* Nav and colors */

.navbar__logo {
	border-radius: .25rem;
	height: 3rem;
}

.nav-wrapper { transform: rotate(-1deg); background-color: #ff6000; position: relative; margin: -1rem -.05rem; padding: .5rem .05rem; z-index: 10; }
.nav-wrapper + section { padding-top: 2rem; }
nav.container { padding: 0; }
.nav-link { color: white !important; }
.super-nav-link { border: 1px solid white; border-radius: .25rem; transition: box-shadow .25s; }
.super-nav-link:hover { box-shadow: 0 0 .5rem white; }

@media (max-width: 575px) { 
	.nav { flex-direction: column; }
}

@media (min-width: 1200px) { 
	.nav-wrapper { transform: rotate(-0.5deg); }
}


section { color: white !important; padding: 1rem 0; }

section h2 { margin-bottom: 1rem; }

section:nth-child(even) { background-color: #FF6000; }

section:nth-child(odd) { background-color: #009fff; }



/* Article Wall */

.articleWall { position: relative; }

.articleWall__scroller { display: flex; flex-direction: column; justify-content: space-between; }

.articleWall__anchor { transition: transform .25s; margin-bottom: 1rem; }

.articleWall__illustration {
	width: 100%;
	height: 30vh;
	background-size: cover;
	background-position: center center;
	border-radius: .25rem;
}

.articleWall__title {
	color: white !important;
	border-bottom: .125rem solid transparent;
	transition: border-color .25s;
}

.articleWall__anchor:hover { text-decoration: none; transform: rotate(1deg) translateY(-.25rem); }
.articleWall__anchor:hover .articleWall__title { border-color: white; }

@media (min-width: 576px) {
	.articleWall__scroller { flex-direction: row; }
	.articleWall__anchor { width: 31%; }
}