body { color: white; overflow-x: hidden; filter: grayscale(); }

/* Hero image and title */

.top-background {
	width: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('meeting.jpg');
}

.title__image {
	max-height: 12vh;
	max-width: calc(100% - 2rem);
	filter: drop-shadow( .15rem .15rem .25rem #000 );
}

.header-wrapper { padding: 4vh 0 6vh; } /* uses header-item to equalize, enables margin between multiple header-items */
.header-item { padding-top: 2vh; }

@media (min-width: 576px) {
	.header-wrapper { padding: 8vh 0 10vh; }
}

.email-catcher { max-width: 70%; }

/* Nav and colors */

.navbar__logo {
	border-radius: .25rem;
	height: 3rem;
}

.nav-wrapper { background-color: #2364AA; position: relative; margin: -1rem -.05rem; padding: .5rem .05rem; z-index: 10; }
nav.container { padding: 0; }
.nav-link { color: white !important; transition: all 0.25s ease-in-out; }
.dropdown-item { transition: all 0.25s ease-in-out; }
.dropdown-item:hover, .dropdown-item:active { background-color: transparent; color: #292b2c; }
.nav-link:hover, .dropdown-item:hover { transform: scale(1.05); background-color: transparent; }
.nav-link:active, .dropdown-item:active { transform: sscale(1.05) translateY(.1em); background-color: transparent; }
.super-nav-link { margin: 0 .25rem; border: 1px solid white; border-radius: .25rem; transition: box-shadow .25s ease-in-out; -webkit-backface-visibility: hidden; }
.super-nav-link:hover { box-shadow: 0 0 .5rem white; }

@media (max-width: 575px) { 
	.nav { flex-direction: column; }
}

.nav-wrapper { transform: rotate(-1deg); }
section:nth-child(even)::after { transform: rotate(-1deg); }
section:nth-child(odd)::after { transform: rotate(1deg); }
@media (min-width: 1200px) { 
	.nav-wrapper { transform: rotate(-0.5deg); }
	section:nth-child(even)::after { transform: rotate(-0.5deg); }
	section:nth-child(odd)::after { transform: rotate(0.5deg); }
}


section { color: #143642 !important; padding: 3rem 0; position: relative;}

section::after { content: ""; display: block; position: absolute; width: 100%; height: 2rem; background-color: inherit; bottom: -1rem; z-index: 1; }

section h2 { margin-bottom: 1rem; }

section:nth-child(even) { background-color: #f5f2f4; }

section:nth-child(odd) { background-color: #F9F7F9; }


/* Footer */

footer { background-color: #143642; padding: 4rem 0 2rem; color: #ccc !important; }



/* Article Wall */

.articleWall { position: relative; }

.articleWall__scroller { display: flex; flex-direction: column; justify-content: space-between; }

.articleWall__anchor { transition: transform .25s ease-in-out; margin-bottom: 1rem; }

.articleWall__illustration {
	width: 100%;
	height: 30vh;
	background-size: cover;
	background-position: center center;
	border-radius: .25rem;
	box-shadow: 0 0 .5rem rgba(0,0,0,.1);
}

.articleWall__title { font-size: 1.2em; }

.articleWall__anchor:link,
.articleWall__anchor:visited,
.articleWall__anchor:hover { color: inherit; }

.articleWall__anchor:hover { text-decoration: none; transform: rotate(.5deg) translateY(-.25rem); -webkit-backface-visibility: hidden; }

@media (min-width: 576px) {
	.articleWall__scroller { flex-direction: row; }
	.articleWall__anchor { width: 31%; }
}