body { background-color: rgba(255,96,0,.010); }
.container { }
.candidat { padding: 2rem; border-top: 1px solid #fafafa; }
.candidat:nth-child(even) { background-color: rgba(255,96,0,.025); }

.candidat__portrait { border-radius: 4px; height: 73px; width: 73px; background-color: #eee; }

nav { background-color: #FF6000 !important; }