html {
	font-size: 20px;
}

body {
	background-color: #FF6000;
	background-image: url('orange-canvas.png');
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	line-height: 2;
}

.sheet {
	max-width: 1040px;
	margin: 10vh auto;
	background-color: white;
	background-image: url('https://d1wli5mq9yq9mw.cloudfront.net/static/images/bg_main.gif');
	min-height: 100vh;
	box-shadow : 0 0 4rem -1rem #000;
	color: #224; /* gray with a slight blue tint */
}

section { padding: 2rem 4rem; }
section:not(:first-child) { border-top: 2px dotted #ddd; }


/* Headers & Headings */

.site-header, .section-heading { text-align: center; }
.site-name, .site-description, .site-heading { line-height: 1.2; }
.site-name { display: block; font-size: 2.4rem; font-family: 'Century Gothic', Helvetica, sans-serif; font-variant: small-caps; }
.site-description { display: block; font-size: 1rem; }
.section-heading { font-family: 'Roboto Slab', serif; }

section.nav-section { padding-top: 1rem; padding-bottom: 1rem; } /* exception to the normal section padding */
.nav { display: flex; justify-content: center; }
.nav_item { display: inline-flex; }
.nav__link { padding: .25rem .50rem; border-radius: .1rem; }
.nav__spacer:last-child { display: none; }
.nav__link:link, .nav__link:hover, .nav__link:active, .nav__link:visited { text-decoration: none; color: inherit; }
.nav__link:hover { background-color: rgba(0,0,0,.15); }