html {
	font-size: 20px;
}

body {
	background-color: #FF6000;
	background-image: url('orange-canvas.png');
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	line-height: 2;
}

.sheet {
	max-width: 1040px;
	margin: 10vh auto;
	background-color: white;
	background-image: url('https://d1wli5mq9yq9mw.cloudfront.net/static/images/bg_main.gif');
	min-height: 100vh;
	box-shadow : 0 0 4rem -1rem #000;
	color: #224; /* gray with a slight blue tint */
}

section { padding: 2rem 4rem; }
section:not(:first-child) { border-top: 2px dotted #ddd; }

.text--center { text-align: center; }
.text--small { font-size: .8em; }



/* Headers & Headings */

.site-header, .section-heading { text-align: center; }
.site-name, .site-description, .site-heading { line-height: 1.2; }
.site-name { display: block; font-size: 2.6rem; font-family: 'Century Gothic', Helvetica, sans-serif; font-variant: small-caps; }
.site-description { display: block; font-size: 1rem; }
.section-heading { font-family: 'Roboto Slab', serif; margin-bottom: 1rem; }

section.nav-section { padding-top: 1rem; padding-bottom: 1rem; } /* exception to the normal section padding */
.nav { display: flex; justify-content: center; }
.nav_item { display: inline-flex; }
.nav__link { padding: .25rem .50rem; border-radius: .1rem; }
.nav__spacer:last-child { display: none; }
.nav__link:link, .nav__link:hover, .nav__link:active, .nav__link:visited { text-decoration: none; color: inherit; }
.nav__link:hover { background-color: rgba(0,0,0,.15); }


/* Utilities */

.swipeable-container {
	overflow-x: auto;
	display: flex;
	flex-wrap: nowrap;
	-webkit-overflow-scrolling: touch;
	cursor: move;
	cursor: -webkit-grab;
}
.swipeable-item { flex: 0 0 auto; width: 35%; max-width: 70%; }
.swipeable-item:not(:first-child) { margin-left: 1rem; }

.team__member { padding: 1rem; text-align: center; line-height: 1.1; }
.team__member > *:not(:first-child) { margin-top: 1rem; }
.team__member__portrait { border-radius: .5rem; }
.team__member__name { font-family: 'Century Gothic', Helvetica, sans-serif; font-variant: small-caps; font-size: 1.4em; }
.team__member__title { padding: 0.5rem 1rem; background-color: rgba(0,0,0,.1); border-radius: .25rem; font-style: italic; }
.team__member__description { font-style: italic; }
.team__member__twitter { display: block; font-style: italic; font-size: .8em; }



.contact__form { max-width: 600px; margin: auto; text-align: center; }
.contact__form__email, .contact__form__message { font-family: 'Trebuchet MS', Helvetica, sans-serif; font-size: .8rem; }
.contact__intro { text-align: center; font-style: italic; font-size: .8em; }